SOFTWARE_VERSION_TAG=${software_version_tag}
SOFTWARE_PASSWORD=${software_password}
ADMIN_EMAIL=${admin_email}
ADMIN_PASSWORD=${admin_password}
CNAME=${cname}
CLUSTER_NAME=${cluster_name}
SYNCHRONOUS_STANDBY_NAMES="${synchronous_standby_names}"
SYNCHRONOUS_COMMIT="${synchronous_commit}"