SOFTWARE_VERSION_TAG=${software_version_tag}
SOFTWARE_PASSWORD=${software_password}
ADMIN_EMAIL=${admin_email}
ADMIN_PASSWORD=${admin_password}
CNAME=${cname}
CLUSTER_NAME=${cluster_name}
PRIMARY_HOST=${primary_host}
REPLICATION_SLOT_NAME=${replication_slot_name}
REPLICATION_USER=${replication_user}
REPLICATION_PASSWORD=${replication_password}